<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cards</key>
	<array>
		<string>R</string>
		<string>A</string>
		<string>C</string>
		<string>E</string>
		<string>H</string>
		<string>I</string>
		<string>I</string>
		<string>J</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>T</string>
	</array>
	<key>height</key>
	<integer>8</integer>
	<key>messages</key>
	<array>
		<string>もじぴったん</string>
	</array>
	<key>questData</key>
	<dict>
		<key>count</key>
		<integer>2000</integer>
	</dict>
	<key>questName</key>
	<string>county（国）</string>
	<key>questType</key>
	<integer>4</integer>
	<key>table</key>
	<array>
		<string>A</string>
		<string>U</string>
		<string>S</string>
		<string>0</string>
		<string>0</string>
		<string>A</string>
		<string>0</string>
		<string>I</string>
		<string>A</string>
		<string> </string>
		<string> </string>
		<string>A</string>
		<string>M</string>
		<string>0</string>
		<string>0</string>
		<string>0</string>
		<string>C</string>
		<string>A</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>0</string>
		<string>0</string>
		<string>0</string>
		<string>N</string>
		<string>A</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>0</string>
		<string>A</string>
		<string>0</string>
		<string>A</string>
		<string>N</string>
		<string> </string>
		<string> </string>
		<string>G</string>
		<string>E</string>
		<string>0</string>
		<string>0</string>
		<string>0</string>
		<string>N</string>
		<string>Y</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>F</string>
		<string>0</string>
		<string>A</string>
		<string>0</string>
		<string>C</string>
		<string>E</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
	</array>
	<key>tableType</key>
	<array>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
	</array>
	<key>time</key>
	<real>300</real>
	<key>width</key>
	<integer>9</integer>
	<key>wildCardLen</key>
	<integer>1</integer>
</dict>
</plist>
