<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filename</key>
		<string>チュートリアル</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>number（数字）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>calender（暦）①</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>calender（暦）②</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>week（曜日）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>season（季節）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>time zone（時間帯）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>weather（天候）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>direction（方角）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>crossword（クロスワード）①</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>personality（人称）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>family（家族）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>emotion（感情）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>nature（自然）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>furniture（家具）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>sports（スポーツ）①</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>county（国）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>food（食べ物）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>vehicle（陸用車）</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>crossword（クロスワード）②</string>
	</dict>
</array>
</plist>
