<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cards</key>
	<array>
		<string>O</string>
		<string>O</string>
		<string>O</string>
		<string>O</string>
	</array>
	<key>height</key>
	<integer>8</integer>
	<key>messages</key>
	<array>
		<string>もじぴったん</string>
	</array>
	<key>questData</key>
	<dict>
		<key>count</key>
		<integer>7</integer>
	</dict>
	<key>questName</key>
	<string></string>
	<key>questType</key>
	<integer>0</integer>
	<key>table</key>
	<array>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>W</string>
		<string>0</string>
		<string>R</string>
		<string>D</string>
		<string> </string>
		<string>W</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>W</string>
		<string>0</string>
		<string>L</string>
		<string>D</string>
		<string>W</string>
		<string>0</string>
		<string>O</string>
		<string>D</string>
		<string> </string>
		<string>R</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>K</string>
		<string> </string>
		<string>W</string>
		<string>W</string>
		<string>0</string>
		<string>O</string>
		<string>L</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>0</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>L</string>
		<string>W</string>
		<string>0</string>
		<string>R</string>
		<string>D</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>F</string>
	</array>
	<key>tableType</key>
	<array>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>DL</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>TL</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>DW</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>TW</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
	</array>
	<key>time</key>
	<real>0.0</real>
	<key>width</key>
	<integer>8</integer>
	<key>wildCardLen</key>
	<integer>1</integer>
</dict>
</plist>
