<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cards</key>
	<array>
		<string>A</string>
		<string>A</string>
		<string>A</string>
		<string>B</string>
		<string>E</string>
		<string>E</string>
		<string>E</string>
		<string>E</string>
		<string>E</string>
		<string>E</string>
		<string>I</string>
		<string>L</string>
		<string>L</string>
		<string>L</string>
		<string>L</string>
		<string>O</string>
		<string>O</string>
		<string>P</string>
		<string>R</string>
		<string>S</string>
		<string>S</string>
		<string>T</string>
		<string>T</string>
		<string>T</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
	</array>
	<key>height</key>
	<integer>9</integer>
	<key>messages</key>
	<array>
		<string>もじぴったん</string>
	</array>
	<key>questData</key>
	<dict>
		<key>count</key>
		<integer>11</integer>
		<key>words</key>
		<integer>6</integer>
	</dict>
	<key>questName</key>
	<string></string>
	<key>questType</key>
	<integer>3</integer>
	<key>table</key>
	<array>
		<string>S</string>
		<string>T</string>
		<string>R</string>
		<string>0</string>
		<string>0</string>
		<string>0</string>
		<string>S</string>
		<string>P</string>
		<string>H</string>
		<string>E</string>
		<string>R</string>
		<string>E</string>
		<string> </string>
		<string> </string>
		<string>U</string>
		<string> </string>
		<string> </string>
		<string>G</string>
		<string>0</string>
		<string>0</string>
		<string>A</string>
		<string>X</string>
		<string>Y</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>0</string>
		<string> </string>
		<string> </string>
		<string>R</string>
		<string>A</string>
		<string>0</string>
		<string>0</string>
		<string>0</string>
		<string>R</string>
		<string>O</string>
		<string>I</string>
		<string>D</string>
		<string> </string>
		<string> </string>
		<string>0</string>
		<string> </string>
		<string> </string>
		<string>0</string>
		<string> </string>
		<string>N</string>
		<string>0</string>
		<string>0</string>
		<string>0</string>
		<string>L</string>
		<string>A</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>0</string>
		<string> </string>
		<string> </string>
		<string>0</string>
		<string> </string>
		<string> </string>
		<string>L</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>N</string>
		<string> </string>
		<string> </string>
		<string>0</string>
		<string>C</string>
		<string>E</string>
		<string>0</string>
		<string>0</string>
		<string>0</string>
		<string>T</string>
		<string>I</string>
		<string>A</string>
		<string>L</string>
		<string> </string>
		<string>O</string>
		<string> </string>
		<string> </string>
		<string>T</string>
		<string> </string>
		<string> </string>
		<string>I</string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string>V</string>
		<string> </string>
		<string> </string>
		<string>Y</string>
		<string>M</string>
		<string>E</string>
		<string>0</string>
		<string>0</string>
		<string>0</string>
		<string>R</string>
		<string>I</string>
		<string>T</string>
		<string>E</string>
		<string> </string>
		<string>A</string>
		<string>C</string>
		<string>O</string>
		<string>N</string>
		<string>S</string>
		<string>0</string>
		<string>0</string>
		<string>0</string>
		<string>0</string>
		<string>A</string>
		<string>T</string>
		<string>I</string>
		<string>O</string>
		<string>N</string>
	</array>
	<key>tableType</key>
	<array>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
	</array>
	<key>time</key>
	<real>480</real>
	<key>width</key>
	<integer>14</integer>
	<key>wildCardLen</key>
	<integer>0</integer>
</dict>
</plist>
